
<!-- <div class="card mb-4">
    <div class="card-img-wrapper">
        <img src="{{book.image || '/assets/user.png'}}" alt="" class="card-img-top" />
        <ul class="list-inline member-icons animate text-center">
            <li class="list-inline-item">
                <button class="btn btn-info btn-block mr-4" routerLink='/admin/books/{{book.id}}'>
                    <i class="fas fa-edit"></i> Update
                </button>
            </li>
            <li class="list-inline-item">
                <button class="btn btn-danger btn-block mr-4" (click)="deleteBook(book.id)">
                    <i class="fad fa-trash"></i> Delete
                </button>
            </li>
        </ul>
    </div>
    <div class="card-body p-1">
        <h4 class="card-title text-center">
            <i class="far fa-book"></i>
            {{book.title}}
        </h4>
        <p class="text-center text-muted card-text text-truncate">{{book.summary}}</p>
    </div>
</div> -->
<div class="container d-flex justify-content-center">
    <div class="row float-start">
        <div class="col">
            <div class="book-card">
                <img class="book-card-img"
                    src="{{book.image || './assets/default.png'}}"
                    alt="" />
                <p class="sale-icon" *ngIf="book.discount != 0">Sale!</p>
                <div class="book-card-body">
                    <h2>{{book.title}}</h2>
                    <span>{{showAuthor(book)}}</span>
                    <div class="price-box">
                        <span class="price-text"><del *ngIf="book.discount !=0 ">${{book.price}}</del>${{showPrice(book)}}</span>
                    </div>
                </div>
                <div class="book-card-btn">
                    <a routerLink='/admin/books/edit/{{book.id}}' class="btn btn-detail"><em class="bi bi-dash-square-fill"></em>EDIT</a>
                    <a routerLink='/admin/books' (click)="deleteBook(book.id)" class="btn btn-buy"><em class="bi bi-cart-fill"></em>DETELE</a>
                </div>
            </div>
        </div>
    </div>
</div>