textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
[type="text"].form-control:focus,
[type="password"].form-control:focus,
[type="email"].form-control:focus,
[type="tel"].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}

.row {
  padding: 0 15px;
}
.col {
  border-radius: 10px;
  background-color: white;
  padding: 45px 50px 20px;
  height: 890px;
  width: 1050px;
  margin-top: 50px;
}
.container-fluid {
  height: 1000px;
  background-color: #edf3f4;
}
h1 {
  font-size: 24px;
}
form {
  border: 1px solid #d3ced2;
  border-radius: 10px;
  padding: 20px;
  font-size: 14px;
  color: #757575;
}

input {
  border: none;
  background-color: #edf3f4;
}
input:focus {
  background-color: #edf3f4;
  border: none;
}

.form-check-input:checked {
  background-color: #0d6efd;
}
.forgot-pwd {
  margin-left: 10px;
  text-decoration: none;
  color: #3f3f3f;
  cursor: pointer;
  line-height: 20px;
}
.forgot-pwd:hover {
  color: #757575;
}
.btn-login {
  color: #3f3f3f;
  border-radius: 50px;
  line-height: 20px;
  letter-spacing: 1px;
  background-color: #dddddd;
}
.btn-login:hover {
  background-color: #ac2c2c;
  color: #dddddd;
}
.breadcrumb-container {
  height: 150px;
  background-color: #515570;
  color: white;
  text-align: center;
}
.breadcrumb-body {
  margin: auto;
}
.breadcrumb-body h1 {
  font-size: 50px;
  line-height: 60px;
  text-transform: capitalize;
}
.breadcrumb-body .path {
  font-style: italic;
  line-height: 20px;
}
.path span {
  margin-left: 5px;
}
a {
  font-size: 15px;
  text-decoration: none;
  color: white;
}
a:hover {
  color: #28cdf0;
}

