<div class="container d-flex justify-content-center">
    <div class="row float-start">
        <div class="col">
            <div class="book-card" *ngIf="book != undefined">
                <input type="hidden" formControle="" id="">
                <img class="book-card-img" src="{{book.image || './assets/default.png'}}" />
                <p class="sale-icon" *ngIf="book.discount != 0">Sale!</p>
                <div class="book-card-body">
                    <h2>{{book.title}}</h2>
                    <span>{{showAuthor(book)}}</span>
                    <div class="price-box">
                        <span class="price-text"><del
                                *ngIf="book.discount !=0 ">${{book.price}}</del>${{showPrice(book)}}</span>
                    </div>
                </div>
                <div class="book-card-btn">
                    <a routerLink='/books/{{book.id}}' class="btn btn-detail"><em
                            class="bi bi-dash-square-fill"></em>DETAIL</a>
                    <a (click)="addToCart(user?.id, book)" class="btn btn-buy"><em class="bi bi-cart-fill"></em>BUY</a>
                </div>
            </div>
        </div>
    </div>
</div>