.layout {
  background-color: #edf3f4;
  padding: 50px;
}
.book-detail-container {
  width: 1125px;
  height: 1740px;
  background-color: #ffffff;
  margin: auto;
  padding: 45px 60px;
  border-radius: 10px;
}
.product-section {
  display: flex;
  position: relative;
}
.img-fluid {
  max-width: 100px;
  max-height: 150px;
}
.btn-upload {
  color: #3f3f3f;
  border-radius: 50px;
  line-height: 20px;
  letter-spacing: 1px;
  background-color: #dddddd;
}
.btn-upload:hover {
  background-color: #2f2b35;
  color: #dddddd;
}
.image-book {
  width: 100px;
  height: 100px;
}
form {
  border: 1px solid #d3ced2;
  border-radius: 10px;
  padding: 20px;
  font-size: 14px;
  color: #757575;
}

input {
  border: none;
  background-color: #edf3f4;
}
input:focus {
  background-color: #edf3f4;
  border: none;
}
img {
  width: 100%;
}