<div class="container-fluid d-flex ads-container">
    <div class="ads m-auto d-flex">
      <div class="ads-item">
        <div class="icon">
          <em class="bi bi-book"></em>
        </div>
        <div class="title">
          <p>Tons of Books</p>
        </div>
        <div class="content">
          From advanced selectors to generated content to web fonts, and from
          gradients, shadows, and rounded corners. to elegant animations.
        </div>
      </div>
      <div class="ads-item">
        <div class="icon">
          <em class="bi bi-pencil"></em>
        </div>
        <div class="title">
          <p>Hundreds of Authors</p>
        </div>
        <div class="content">
          To elegant animations. , CSS3 holds a universe of creative
          possibilities. No one can better guide you through.
        </div>
      </div>
      <div class="ads-item">
        <div class="icon">
          <em class="bi bi-bookmarks-fill"></em>
        </div>
        <div class="title">
          <p>Easily Bookmarked</p>
        </div>
        <div class="content">
          Shadows, and rounded corners. to elegant animations. , CSS3 holds a
          universe of creative possibilities. No one can better guide you through.
        </div>
      </div>
    </div>
  </div>