<div *ngIf="book != undefined && authors != undefined">
  <div class="layout">
    <div class="book-detail-container">
      <div class="product-section">
        <img src="{{book.image || '/assets/user.png'}}" alt="" />
        <p class="sale-icon" *ngIf="book.discount != 0">Sale!</p>
        <div class="product-detail">
          <h1 class="lead">{{book.title}}</h1>
          <span class="rating">
            <button class="btn btn-outline-primary" (click)='addLike(user?.id)'>
              <em class="bi bi-suit-heart"></em><span class="rating-text" >{{count(book)}} điểm. Bình chọn ngay</span>
            </button>
          </span>
          <p>
            {{book.summary}}
          </p>
          <div class="product-offer">
            <div class="price-box">
              <span class="price-text"><del
                *ngIf="book.discount !=0 ">${{book.price}}</del>${{showPrice(book)}}</span>
            </div>
            <span class="in-stock">{{book.quantityInStock}} in stock</span>
            <form class="add-to-card">
              <input #quantity (input)="checkQuantity($event,book.quantityInStock)" type="number" min="1" max="{{book.quantityInStock}}" value="1" />
              <button class="hover" (click)="addToCart(user?.id, book, quantity.value)" type="submit">ADD TO CART</button>
            </form>
          </div>
          <div class="product-categories">
            <span>Categories:</span> {{displayCategory(book)}} <br />
            <span>Publisher:</span> {{book.publisher.name}}<br />
            <span>Co-author:</span> {{displayAuthors(book)}}<br />
            <span>Released:</span> {{book.publicationDate | date}}
          </div>
        </div>
      </div>
      <div class="detail-section">
        <img src="{{book.authorBooks[0].author.image}}" alt="" />
        <h4>{{book.authorBooks[0].author.fullName}}</h4>
        <div class="dash"></div>
        <div class="bio">
          {{book.authorBooks[0].author.biography}}
        </div>
      </div>
      <div class="review-section">
        <h1>Reviews (2)</h1>
        <div class="add-review">
          <img src="https://secure.gravatar.com/avatar/f0cde930b42c79145194679d5b6e3b1d?s=60&d=mm&r=g" alt="" />
          <form>
            <input placeholder="Add your review" />
            <button class="hover">Submit</button>
          </form>
        </div>
        <div class="review-content">
          <img src="https://secure.gravatar.com/avatar/f0cde930b42c79145194679d5b6e3b1d?s=60&d=mm&r=g" alt="" />
          <div>
            <div class="info">
              <span class="user-name">Cobus Bester </span><span> - </span><span>June 7, 2013</span>
            </div>
            <div class="content">
              <span>This album proves why The Woo are the best band ever. Best music
                ever!</span>
            </div>
          </div>
        </div>
        <div class="review-content">
          <img src="https://secure.gravatar.com/avatar/59c82b1d2c60537f900fb191b3cb611b?s=60&d=mm&r=g" alt="" />
          <div>
            <div class="info">
              <span class="user-name">Maria</span><span> - </span><span>June 7, 2013</span>
            </div>
            <div class="content">
              <span>Can’t wait to start mixin’ with this one!
                Irba-irr-Up-up-up-up-date your theme!</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>