.container-fluid {
  height: auto;
  background-color: #edf3f4;
  min-height: 500px;
}
.row {
  padding: 0 15px;
}
.col {
  border-radius: 10px;
  background-color: white;
  padding: 45px 50px 20px;
  height: auto;
  width: 1050px;
}
h1 {
  font-size: 24px;
}
.breadcrumb-container {
  height: 150px;
  background-color: #515570;
  color: white;
  text-align: center;
}
.breadcrumb-body {
  margin: auto;
}
.breadcrumb-body h1 {
  font-size: 50px;
  line-height: 60px;
  text-transform: capitalize;
}
.breadcrumb-body .path {
  font-style: italic;
  line-height: 20px;
}
.path span {
  margin-left: 5px;
}
.home-breadcrumb {
  font-size: 15px;
  text-decoration: none;
  color: white;
}
.home-breadcrumb:hover {
  color: #28cdf0;
}
img {
  width: 50px;
  height: 80px;
}
:host /deep/ .all-tab :heading {
  text-align: center;
  font-size: large;
  width: 230px;
}
/* :host /deep/ .all-tab {
      color: rgba(0,0,0,.8) !important;
  }
  :host /deep/ .all-tab a:hover {
    color: #ee4d2d;
} */
