<div class="container-fluid d-flex">
    <div class="row m-auto flex-1">
        <div class="col">
            <div class="row">

                <div class="col-4">
                    <div class="card">
                        <img src="./assets/user.png" alt="" class="card-img-top img-thumbnail">
                        <div class="card-body">
                            <div class="mb-2">
                                <i class="fa fa-user-circle text-success"></i> Online now
                            </div>
                            <div>
                                <strong>Username:</strong>
                                <p>{{user.username}}</p>
                            </div>
                            <div>
                                <strong>Email:</strong>
                                <p>{{user.email}}</p>
                            </div>
                            <div>
                                <strong>Phone number:</strong>
                                <p>{{user.phoneNumber}}</p>
                            </div>
                            <div>
                                <strong>Address:</strong>
                                <p>{{user.homeAddress}}</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="btn-group d-flex">
                                <button class="btn btn-primary">Edit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>