<!-- <form #loginForm="ngForm" class="form-group mt-2 mt-md-0"
      (ngSubmit)="login()" autocomplete="off">
      <input name="username" [(ngModel)]="model.username" class="form-control mr-sm-2" type="text"
        placeholder="Tên đăng nhập">
      <input name="password" [(ngModel)]="model.password" class="form-control mr-sm-2" type="password"
        placeholder="Mật khẩu">
      <div class="form-group text-center">
        <button class="btn btn-success mr-2 mt-2" type="submit">Đăng nhập</button>
      </div>
    </form> -->
<div class="breadcrumb-container d-flex">
  <div class="breadcrumb-body">
    <h1>My Account</h1>
    <div class="path">
      <a href="">Home</a>
      <span>/ My Account</span>
    </div>
  </div>
</div>
<div class="container-fluid d-flex">
  <div class="row m-auto flex-1">
    <div class="col">
      <h1>Login</h1>
      <form #loginForm="ngForm" autocomplete="off">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Username or email address</label>
          <input type="email" name="username" [(ngModel)]="model.username" class="form-control" id="exampleInputEmail1"
            aria-describedby="emailHelp" />
          <div id="emailHelp" class="form-text">
            We'll never share your email with anyone else.
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" name="password" [(ngModel)]="model.password" class="form-control"
            id="exampleInputPassword1" />
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" />
          <label class="form-check-label" for="exampleCheck1">Remember me</label>
        </div>
        <button type="submit" (click)="login()" class="btn btn-login">Log in</button>
        <button class="btn btn-login ml-3" (click)="signInWithFB()"><i class="fab fa-facebook"> Login with facebook</i></button>
        <span class="forgot-pwd">
          <a>Lost your password?</a>
        </span>
      </form>      
    </div>
  </div>
</div>