<div class="form-group">
    <input 
        [class.is-invalid]="ngControl.touched && ngControl.invalid"
        type={{type}}
        class="form-control" 
        [formControl]="ngControl.control"
        placeholder={{label}}>
    <div *ngIf="ngControl.control.errors?.required" class="invalid-feedback">Vui lòng điền {{label}}</div>
    <div *ngIf="ngControl.control.errors?.minlength" class="invalid-feedback">
        {{label}} ít nhất {{ngControl.control.errors.minlength['requiredLength']}} ký tự
    </div>
    <div *ngIf="ngControl.control.errors?.maxlength" class="invalid-feedback">
        {{label}} tối đa {{ngControl.control.errors.maxlength['requiredLength']}} ký tự
    </div>
    <div *ngIf="ngControl.control.errors?.email" class="invalid-feedback">
        Vui lòng điền đúng email.
    </div>
    <div *ngIf="ngControl.control.errors?.pattern" class="invalid-feedback">
        Sai định dạng.
    </div>
    <div *ngIf="ngControl.control.errors?.isMatch" class="invalid-feedback">
        Mật khẩu không trùng khớp
    </div>
</div>